# 用 git submodule add <url> 3rdparty/<name> 添加依赖
# 例:
# [submodule "3rdparty/fmt"]
#   path = 3rdparty/fmt
#   url = https://github.com/fmtlib/fmt
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/janbar/openssl-cmake.git
[submodule "3rdparty/brotli"]
	path = 3rdparty/brotli
	url = https://github.com/google/brotli.git
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
